body{
    background: black;
    margin: 0;
    padding: 0;
}
.upper{
    position: absolute;
    width: 96%;
    height: 32%;
    background: rgb(72, 72, 72);
    left: 2%;
    border-radius: 10px;
    top: 3%;
}
.image{
    position: absolute;
    border: solid grey;
    height: 86%;
    width: 17%;
    left: 1%;
    border-radius: 30px;
    top: 6%;
}
.im{
    border-radius: 30px;
    height: 100%;
    width: 100%;
    object-fit:fill;
}
.info{
    position: absolute;    
    left: 21%;
    top: 6%;
    width: 78%;
    height: 86%;
    /* border: solid grey; */
}
h1{
    position: absolute;
    top: 0%;
    color: whitesmoke;
}
.profbg{
    position: absolute;
    width: 10%;
    height: 15%;
    background: gray;
    border-radius: 5px;
    top: 50%;
    left: 2%;
}
.prof{
    position: absolute;
    top: -40%;
    left: 5%;
    font-size: medium;
}
.email{
    top: 10%;
    position: absolute;
    height: 25%;
    width: 30%;
    left: 35%;
    font-size: 150%;
    /* border: solid grey; */
}
.em{
    position: absolute;
    top: -30%;
}
.phone{
    top: 50%;
    position: absolute;
    height: 25%;
    width: 30%;
    left: 35%;
    font-size: 150%;
    /* border: solid grey; */
}
.phn{
    position: absolute;
    top: -30%;
}
.birthday{
    top: 10%;
    position: absolute;
    height: 25%;
    width: 23%;
    left: 68%;
    font-size: 150%;
    /* border: solid grey; */
}
.bday{
    position: absolute;
    top: -30%;
}
.location{
    top: 50%;
    position: absolute;
    height: 25%;
    width: 23%;
    left: 68%;
    font-size: 150%;
    /* border: solid grey; */
}
.loc{
    position: absolute;
    top: -30%;
}


/* Lower Part Starts */
.lower{
    position: absolute;
    top: 38%;
    width: 96%;
    height: 52%;
    background: rgb(72, 72, 72);
    left: 2%;
    border-radius: 10px;
}
.taskbar{
    position: absolute;
    left: 64.973%;
    /* border-radius: 5px; */
    border-bottom-left-radius: 20px;
    border-top-right-radius: 5px;
    
    background: rgb(44, 44, 44);
}
ul {
    list-style-type: none;
  }
  li{
    float: left;
  }
  ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

li a {
    font-size: larger;
    color: whitesmoke;
    position: relative;
}

a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

li a:hover::after {
    width: 100%;
}


.maincontainer {
    position: absolute;
    width: 61%;
    height: 92%;
    top: 4%;
    left: 2%;
    box-shadow: 0 0 20px red;
    border-radius: 7px;
    background: #1b1b1b;
    animation: sh 30s infinite ease;
}

@-webkit-keyframes sh {
    0% {
        box-shadow: 0 0 20px red;
    }

    10% {
        box-shadow: 0 0 20px rgb(255, 128, 0);
    }

    20% {
        box-shadow: 0 0 20px rgb(0, 255, 183);
    }

    30% {
        box-shadow: 0 0 20px rgb(34, 0, 255);
    }

    40% {
        box-shadow: 0 0 20px rgb(200, 0, 255);
    }

    50% {
        box-shadow: 0 0 20px rgb(255, 0, 149);

    }

    60% {
        box-shadow: 0 0 20px rgb(200, 0, 255);
    }

    70% {
        box-shadow: 0 0 20px rgb(34, 0, 255);
    }

    80% {
        box-shadow: 0 0 20px rgb(0, 255, 183);
    }

    90% {
        box-shadow: 0 0 20px rgb(255, 128, 0);
    }

    100% {
        box-shadow: 0 0 20px red;
    }
}

.btn {
    position: relative;
    background-color: aliceblue;
    border-radius: 3%;
    width: 50px;
    top: 265px;
    left: 315px;
    transition: step-end, 500ms;
}

.btn:active {
    background-color: purple;
    border: #4d4d4d;
}

.stl {
    position: absolute;
    background-color: #4d4d4d;
    border-color: rgb(77, 76, 76);
    border-radius: 3%;
}

#name {
    top: 97px;
    left: 75px;
}

#email {
    top: 97px;
    left: 440px;
}

#phone {
    top: 200px;
    left: 75px;
}

#organization {
    top: 200px;
    left: 440px;

}
@media screen and (max-width: 100vh){
    .maincontainer{
        width: 40vh;
        height: 50vh;
        left: 3vh;
    }
}