body{
    background: black;
    margin: 0;
    padding: 0;
}
.upper{
    position: absolute;
    width: 96%;
    height: 32%;
    background: rgb(72, 72, 72);
    left: 2%;
    border-radius: 10px;
    top: 3%;
}
.image{
    position: absolute;
    border: solid grey;
    border-radius: 30px;
    height: 86%;
    width: 17%;
    left: 1%;
    top: 6%;
}
.im{
    border-radius: 30px;
    height: 100%;
    width: 100%;
    object-fit:fill;
}
.info{
    position: absolute;    
    left: 21%;
    top: 6%;
    width: 78%;
    height: 86%;
    /* border: solid grey; */
}
h1{
    position: absolute;
    top: 0%;
    color: whitesmoke;
}
.profbg{
    position: absolute;
    width: 10%;
    height: 15%;
    background: gray;
    border-radius: 5px;
    top: 50%;
    left: 2%;
}
.prof{
    position: absolute;
    top: -40%;
    left: 5%;
    font-size: medium;
}
.email{
    top: 10%;
    position: absolute;
    height: 25%;
    width: 30%;
    left: 35%;
    font-size: 150%;
    /* border: solid grey; */
}
.em{
    position: absolute;
    top: -30%;
}
.phone{
    top: 50%;
    position: absolute;
    height: 25%;
    width: 30%;
    left: 35%;
    font-size: 150%;
    /* border: solid grey; */
}
.phn{
    position: absolute;
    top: -30%;
}
.birthday{
    top: 10%;
    position: absolute;
    height: 25%;
    width: 23%;
    left: 68%;
    font-size: 150%;
    /* border: solid grey; */
}
.bday{
    position: absolute;
    top: -30%;
}
.location{
    top: 50%;
    position: absolute;
    height: 25%;
    width: 23%;
    left: 68%;
    font-size: 150%;
    /* border: solid grey; */
}
.loc{
    position: absolute;
    top: -30%;
}

/* Big Box Area  */

.lower{
    position: absolute;
    top: 38%;
    width: 96%;
    height: 52%;
    background: rgb(72, 72, 72);
    left: 2%;
    border-radius: 10px;
}
.taskbar{
    position: absolute;
    left: 64.973%;
    /* border-radius: 5px; */
    border-bottom-left-radius: 20px;
    border-top-right-radius: 5px;
    
    background: rgb(44, 44, 44);
}
ul {
    list-style-type: none;
  }
  li{
    float: left;
  }
  ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

li a {
    font-size: larger;
    color: whitesmoke;
    position: relative;
}

a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

li a:hover::after {
    width: 100%;
}
.aboutme{
    position: absolute;
    top: 3%;
    left: 2%;
    height: 30%;
    width: 20%;
}
.abme{
    position: absolute;
    top: -35%;
    font-size: 250%;
}
.me{
    position: absolute;
    top: 40%;
    font-size: 150%; 
}
.languages{
    position: absolute;
    top: 36%;
    left: 2%;
    height: 60%;
    width: 30%;
    color: #e3bc0e;
    border-radius: 10px;
    background: rgb(50, 50, 50);
}
.lan{position: absolute;
    font-size: 130%;
    left: 5%;
    padding: 0;
}
.lng{
    position: absolute;
    left: 20%;
    top: 10%;
}
.database{
    position: absolute;
    height: 50%;
    width: 15%;
    left: 35%;
    top: 36%;
    color: #e3bc0e;
    border-radius: 10px;
    background: rgb(50, 50, 50);
    border-radius: 10px;
    background: rgb(50, 50, 50);
}
.db{
    font-size: 130%;
}
.othertools{
    position: absolute;
    height: 50%;
    width: 20%;
    left: 51%;
    top: 36%;
    border-radius: 10px;
    color: #e3bc0e;
    background: rgb(50, 50, 50);
}
.ot{
    font-size: 130%;
}
.libraries{
    position: absolute;
    height: 53%;
    width: 25%;
    color: #e3bc0e;
    left: 72%;
    top: 36%;
    border-radius: 10px;
    background: rgb(50, 50, 50);
}
.libr{
    font-size: 130%;
}

/* Lines  */
.line {
    width: 30%;
    border: 0.5px solid rgb(255, 247, 0);
    position: absolute;
    height: 2%;
    background: rgb(255, 247, 0);
    border-radius: 30px;
    /* z-index: 5; */
    left: 1%;
    top: 56%;
    box-shadow: 0 0px 20px 0 rgb(255, 255, 254);
}